html {
  height: 100%;
  box-sizing: border-box;
}

body {
  /*height: 63rem;*/

  background: #b073ef;
  background: -webkit-linear-gradient(#b073ef, #7e18e7);
  background: -o-linear-gradient(#b073ef, #7e18e7);
  background: -moz-linear-gradient(#b073ef, #7e18e7);
  background: linear-gradient(#b073ef, #7e18e7);
}

h1 {
  float: left;

  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 3rem;
  color: white;

  padding: 0rem;
  border: 0rem;
  margin: 0rem;
}

#maga{
  clear:both;
  padding: 0rem 0rem 1.5rem 2.2rem;
}

h2{
  float: right;

  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: white;

  padding: 0rem;
  border: 0rem;
  margin: 0rem;
  padding-top: .4rem;
}

.tab{
  clear:both;
  width: 100% ;
  height: 3.5rem;
  background: #ffffff;
  margin: 0rem 0rem 3.5rem 0rem;
}

.tab p{
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  font-size: 1.4rem;
  vertical-align: middle;
  line-height: 3.5rem; /*keep the same as .tab height*/
  padding-left: 2.2rem;
  color: #b073ef;
}

.tab p:hover{
  font-weight:700;
}

.footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #ffffff;

  font-family: 'Raleway', sans-serif;
  font-weight:300;
  color: #b073ef;
}

#about{
  font-size: 1.4rem;
  margin: 0rem;
}

.footer div{
  float: left;
  width: 18rem;
  font-size: .7rem;
  color: #b073ef;
}

#about2{
  margin: .5rem 0rem;
}

#email {
  float: right;
  font-size: .9rem;
}

/*--------------------------*/
a:link {
  text-decoration:none;
}

a:visited {
  text-decoration:none;
}

a:hover {
  text-decoration:none;
}

a:active {
  text-decoration:none;
} 
/*--------------------------*/

/*-----GRAPHIC DESIGN-----*/
#GD{
  clear:both;
  width: 100% ;
  height: 40rem;
  background: #ffffff;
  margin: 3.5rem 0rem 3.5rem 0rem;
}

#GD p{
  font-family: 'Raleway', sans-serif;
  font-weight:300;
  font-size: 1.4rem;
  vertical-align: middle;
  line-height: 3.5rem; /*keep the same as .tab height*/
  padding-left: 2.2rem;
  color: #b073ef;
}

img{
  max-width: 100%;
  max-height:100%;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.pic1{
  width: 20rem;
  height: 20rem;
  /*background-color: #efefef;*/
  float:left;
  margin: 0rem 0rem 2.2rem 2.2rem;
}

.pic1 img:hover{
  filter: grayscale(75%);
}
/*------------------------*/
